* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #002134;
  color: #69e584;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

#main-content {
  margin-top: 100px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
}

.container {
  position: relative;
}

footer {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  margin: 2em;
  transition: opacity 150ms ease-in-out;
}

footer > h4 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

footer:hover {
  opacity: 1;
}

.input {
  margin-bottom: 25px;
  padding: 0.5em;
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
}


.command {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #69e584;
  background-color: transparent;
  border: none;
  margin-left: 0.25em;
}

.command::placeholder {
  color: #69e584;
  opacity: .5;
}

.command:focus {
  outline: none;
}

.input:hover, .input:focus-within {
  background-color: rgba(255,255,255,0.075);
}

.todos {
  list-style: none;
}

.list-item, .list-header {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.title-header, .id-header {
  opacity: .5;
}

.title, .id, .title-header, .id-header {
  font-weight: 300;
}

.title {
  overflow: hidden;
  width: 375px;
  text-overflow: ellipsis;
}

.id, .id-header {
  margin-left: auto;
}